.home {
	padding: 100px 250px;
	padding-bottom: 300px;
	min-height: 100%;
	width: 100%;
	font-family: 'Open Sans';
}

.background {
	padding: auto;
	color: lightgray;
	min-height: 100%;
	width: 100%;
}

.toggleButton {
	border: none;
	outline: none;
	padding: 10px;
	margin: auto 20px;
	cursor: pointer;
	transition: all 0.2s ease-in;
	color: rgb(255, 0, 184);
	background: transparent;
	border-radius: 4px;
}

.toggleButton:hover {
	background: rgba(0, 0, 0, 0.2);
}

.marks {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.marks thead {
	background: rgba(0, 0, 0, 0.2);
}

.marks td {
	padding: 10px;
}

.marks tr:nth-child(2n) {
	background: rgba(0, 0, 0, 0.05);
}
