.button {
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.1s ease-in;
	text-decoration: none;
}

h1 .button, h2 .button, h3 .button {
	font-weight: 400;
	font-size: 0.75em;
}

.button.transparent {
	color: #8e54e9;
	background: transparent;
	border-radius: 4px;
}

.button.transparent:not(.noBg):hover {
	background: rgba(0, 0, 0, 0.1);
}

.button.transparent.noBg:hover {
	opacity: 0.75;
}

.button.colored {
	background: #8e54e9;
	color: white;
	border-radius: 100px;
	padding: 10px 20px;
	margin: 10px 0px;
}

.button.colored:hover {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
