.form {
  margin-bottom: 40px;
  display: block;
  width: 30%;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input, .form select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px;
  outline: none;
  color: rgba(76, 91, 92, 0.5);
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  width: 100%;
  transition: all 0.1s ease-in;
  border-radius: 100px;
  border: none;
}

.form select::after {
  content: '\25BC';
  display: block;
}

.form input[type='submit'] {
  cursor: pointer;
  background: #8e54e9;
  color: white;
  padding: 10px 20px;
  margin: 10px 0px;
}

.form input[type='submit']:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.form input:focus, .form select:focus {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
