.formPage {
  text-align: center;
}

.formPage h1 {
  margin-bottom: 40px;
}

.form {
  display: block;
  margin: 20px 0px;
  width: 100%;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input, .form select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 2px;
  padding: 10px;
  outline: none;
  background: white;
  margin-bottom: 40px;
  min-width: 30%;
  transition: all 0.2s ease-in;
}

.form select::after {
  content: '\009660';
  width: 10px;
  height: 10px;
  display: block;
}

.form input[type='submit'] {
  background-color: rgb(32, 189, 62);
  cursor: pointer;
  color: white;
  font-weight: bolder;
}

.form input:focus, .form select:focus {
  box-shadow: 0px 0px 2px rgba(25, 133, 212, 0.73);
  border-color: rgb(25, 133, 212);
}
